* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}
:root {
    --bg-color: #131313;
    --second-bg-color: #252525;
    --text-color: white;
    /* same as bg color text-2 */
    --text-color2: #080808;
    --main-color: #00ffee;
}
/* :root {
    --bg-color: #fcfcfc;
    --second-bg-color: #f8f8f8;
    --text-color: black;
    --text-color2: white;
    --main-color: #ff8615;
} */

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--text-color2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);

}

span {
    color: var(--main-color)
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);

}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: fit-content;
    padding: 10rem 9% 10rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.home-content h3 {
    font-size: 3em;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    font-size: 3rem;
}
.home-content h1 {
    font-size: 6rem;
    font-weight: 650;
    line-height: 1.2;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    cursor: pointer;
}

.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    font-size: 2rem;
    border: 0.2rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a:hover {
    color: var(--text-color2);
    transform: scale(1.3)translateY(-5px);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color2);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: '';
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid #f1f1f1;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {
    0%,
    60% {
        content: 'Programmer';
    }
    61%,
    100% {
        content: 'Web_Developer';
    }
}
@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}
.heading {
    text-align: center;
    font-size: 7rem;
}

/* Scrollbar  */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--text-color2);
}

.projects{
    background: var(--second-bg-color);
}
.projects h2 {
    margin-bottom: 10rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.projects-container .projects-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 3rem;
    text-align: center;
    border: 0.3rem solid var(--second-bg-color);
    transition: 0.5s ease;
}

.projects-container .projects-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.projects-box .links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.projects-box i {
    font-size: 7rem;
    color: var(--main-color);
}
.projects-box svg {
    margin: -17px;
    font-size: 7rem;
    color: var(--main-color);
}
.projects-box a {
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--text-color2);
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.projects-box a i {
    font-size: 2.5rem;
    color: var(--main-color);
}
.projects-box h3 {
    font-size: 2.6rem;
}

.projects-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* skills */
.skills {
    background: var(--bg-color);
}

.skills h2 {
    margin-bottom: 8rem;
}

.skill-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-left {
    width: 100%;
    background: var(--second-bg-color);
    border-radius: 10px;
    padding: 2rem 4rem;
}

.skill-bar {
    margin-bottom: 2.3rem;
}

.skill-left .skill-bar .info {
    display: flex;
    justify-content: start;
    align-items: center;
}

.skill-left .skill-bar .bar {
    width: 100%;
    height: 5px;
    background-color: rgb(203, 203, 203);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--main-color);
    border-radius: 25px;
    box-shadow: 0 0 10px var(--main-color);
}

.skill-bar .info p {
    font-size: 1.5rem;
    font-weight: 450;
}
.skill-bar .bar .java {
    width: 60%;
    animation: java 1s;
}
.skill-bar .bar .c {
    width: 95%;
    animation: c 2s;
}
.skill-bar .bar .html {
    width: 92%;
    animation: html 3s;
}

.skill-bar .bar .css {
    width: 85%;
    animation: css 4s;
}

.skill-bar .bar .tailwind {
    width: 70%;
    animation: tailwind 5s;
}

.skill-bar .bar .javascript {
    width: 76%;
    animation: javascript 6s;
}
.skill-bar .bar .git {
    width: 87%;
    animation: git 7s;
}
.skill-bar .bar .figma {
    width: 85%;
    animation: figma 8s;
}


@keyframes java {
    0% {
        width: 0%;
    }

    100% {
        width: 60%;
    }
}
@keyframes c {
    0% {
        width: 0%;
    }

    100% {
        width: 95%;
    }
}
@keyframes html {
    0% {
        width: 0%;
    }

    100% {
        width: 92%;
    }
}

@keyframes css {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

@keyframes tailwind {
    0% {
        width: 0%;
    }

    100% {
        width: 70%;
    }
}

@keyframes javascript {
    0% {
        width: 0%;
    }

    100% {
        width: 76%;
    }
}


@keyframes git {
    0% {
        width: 0%;
    }

    100% {
        width: 87%;
    }
}
@keyframes figma {
    0% {
        width: 0%;
    }

    100% {
        width: 85%;
    }
}

.certificates{
    background: var(--second-bg-color);
}
.certificates h2 {
    margin-bottom: 10rem;
}

.certificates-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.certificates-container .certificates-box {
    flex: 1 1;
    min-width: 30rem;
    max-width: 33rem;
    flex-wrap: wrap;
    min-height: 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 3rem;
    text-align: center;
    border: 0.3rem solid var(--second-bg-color);
    transition: 0.5s ease;
}

.certificates-container .certificates-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
.certificates-box svg {
    margin-top:-15px ;
    font-size: 7rem;
    color: var(--main-color);
}
.certificates-box > i {
    margin-bottom: 2.4rem;
    font-size: 6rem;
    color: var(--main-color);
}
.certificates-box .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.certificates-box .icons i {
    margin-bottom: 2.4rem;
    font-size: 6rem;
    color: var(--main-color);
}
.certificates-box .icons #link {
    margin-bottom: 2.4rem;
    font-size: 3rem;
    color: white;
}
.certificates-box a {
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: var(--text-color2);
    border: 2px solid var(--main-color);
    border-radius: 50%;
}

.certificates-box a i {
    font-size: 2.5rem;
    color: var(--main-color);
}
.certificates-box h3 {
    font-size: 2.4rem;
}

.certificates-box p {
    height: 7rem;
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}

.footer h4 {
    font-size: 2.6rem;
    text-align: center;
    color: var(--second-bg-color);
}

.footer .social {
    text-align: center;
    color: var(--text-color2);
}

.footer .social a {
    font-size: 25px;
    color: var(--text-color2);
    border: 2px solid var(--text-color2);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--text-color2);
    color: var(--main-color);
}

.footer .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 16px;
    color: var(--text-color2);
}

/* media queries  */
@media(max-width:1200px) {
    html {
        font-size: 55%;
    }

    .projects-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 5rem;
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .certificates {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0,
                0.105);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        width: fit-content;
    }

    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .certificates h2 {
        margin-bottom: 3rem;
    }
    .projects h2{
        margin-bottom: 3rem;
    }
}
@media(max-width:550px) {
    .heading{
        font-size: 4rem;
    }
}