@tailwind base;
@tailwind components;
@tailwind utilities;
html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./assets/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
*{
    font-family: 'Gilroy';
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #FFAF29;
    border-radius: 15px;
}

::-webkit-scrollbar-track {
    background-color: #5C5E6B;
}